
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* shared styles */
.display-flex{
    display: flex;
}


/* header styles */




/* navbar related styles */

.navbar{
justify-content: space-between;
align-items: center;
margin: 0px 80px 0px 80px;

}
.nav-links{
    justify-content: space-between;
    align-items: center;
    
    
    }
.school-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-weight: 700;
    font-size: 2rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
/* nav-link1234 */
.nav-link1{
    text-decoration: none;
    font-weight: 500;
    color: #FEA301;
    font-size: 1.25rem;
    text-align: left;
}
.nav-link2{
    text-decoration: none;
    font-weight: 500;
    color: #01ACFD;
    font-size: 1.25rem;
    text-align: left;
}
.nav-link3{
    text-decoration: none;
    font-weight: 500;
    color: #05D4DF;
    font-size: 1.25rem;
    text-align: left;
}
.nav-link4{
    text-decoration: none;
    font-weight: 500;
    color: #5D58EF;
    font-size: 1.25rem;
    text-align: left;
}
.btn-contact{
    padding: 15px 50px 15px 50px;
    background-color: #FEA301;
    color: white;
    border-radius: 7px;
    border: none;
    font-size: 1rem;
    margin-right: 100px;
}
.bg-image{

}